$brand-color: #1292ee;
$card-bg: #f1f3f5;
$font-color: #333333;
$font-white: #ffffff;
$p-color: #93a1b0;
$hover-color: 0.5px 0.5px 12px #ccc;
$box-shadow: 0 10px 15px -10px rgba(30, 45, 62, 0.21), 0 5px 40px -10px rgba(31, 44, 60, 0.1);

* {
  box-sizing: border-box;
  font-family: Graphik, Helvetica, Arial, sans-serif !important;
}
