$card-bg: #f1f3f4;
$font-color: #333333;
$p-color: #777777;
$hover-color: .5px .5px 10px #ccc;

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.blog-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.blog-box {
  background-color: $card-bg;
  border-radius: 4px;
  display: block;
  margin:10px;
  max-width: 350px;
  max-height: 375px;
  text-decoration: none;

  img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 10px;
  }
 
  .blog-box-text {
    color: $font-color;
    text-align: center;
    line-height: .25rem;

    p {
      color: $p-color;
      font-size: 16px;
    }
  }
  &:hover {
    box-shadow: $hover-color;
    transition: 1s ease;
  }
}